/* klasy pomocnicze ( helpers ) */
.floatfix:after {
    content: '';
    clear: both;
    display: block;
}

.icon {
    display: inline-block;
    width: 24px;
    height:20px;
    fill: #000;
}

.icon.icon-home {
    fill: #00d1d3;
}

.icon.icon-library {
    fill: #03aabb;
}

.icon.icon-e-system {
    fill: #0784a3;
}

.icon.icon-ap-zone {
    fill: #0b5e8b;
}

.icon.icon-mail {
    fill: #0f3874;
}

.department-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    fill: #00d1d3;
}

/* typografia */
body {
    font-family: 'Roboto', "Verdana", 'sans-serif';
}


/*Sekcja top*/
.top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-wrapper .logo {
    float: left;
    width: 107px;
}

.top-wrapper .top-menu {
    float: right;
}


.top-menu-list {
    margin:0;
    padding: 0;
    list-style: none;
    font-size:0;
}
.top-menu-list .menu-list-item {
    display: inline-block;
    font-size: 14px;
}

.top-menu-list .menu-list-item .item-link {
    display: block;
    width: 110px;
    height: 160px;
    border-top: 3px solid #00d1d3;
    color: #00d1d3;
    text-align: center;
    line-height: 160px;
    text-transform: uppercase;
}

.top-menu-list .menu-list-item .item-link.bib {
    border-color: #03aabb;
    color: #03aabb;
}

.top-menu-list .menu-list-item .item-link.dzi {
    border-color: #0784a3;
    color: #0784a3;
}
.top-menu-list .menu-list-item .item-link.aps {
    border-color: #0b5e8b;
    color: #0b5e8b;
}

.top-menu-list .menu-list-item .item-link.poc {
    border-color: #0f3874;
    color: #0f3874;
}



.top-menu-list .menu-list-item .item-link .item-link-inner {
    display: inline-block;
    line-height: 1.3;
}

/* sekcja menu */
.main-menu .main-menu-wrapper {
    background-image: url('../img/pattern1@1x.png');
    background-position: top left;
    background-repeat: repeat;
    border-radius: 0;
    margin-bottom: 0;
}

.main-menu .menu-element {

}

.main-menu .menu-link {
    color: #ffffff;
}

.main-menu .open .menu-link,
.main-menu .menu-link:hover,
.main-menu .menu-link:active,
.main-menu .menu-link:focus {
    background-color: RGBA(255, 255, 255, 0.1) !important;
}


/* sekcje */

.site-section {}

/* sekcja banner */

.site-section.top-banner img{
    max-width: 100%;
    height: auto;
}


/* sekcja dzialy */

.site-section.section-departments {
    background: url('../img/pattern1@1x.png') top left repeat;
    /* ==
    background-image: url('../img/pattern1@1x.png');
    background-position: top left;
    background-repeat: repeat;
    */

    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-section.section-departments h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.site-section.section-departments h2 {
    font-size: 20px;
    color: #00d1d3;
    margin: 0;
    padding: 0;
}

.site-section.section-departments article {
    padding-left: 20px;
    float: left;
    display: inline-block;
    width: 260px;
    padding-top: 15px;
}

.site-section.section-departments .icon-departments {
    float: left;
    display: inline-block;
}

.site-section.section-departments a {
    border: 2px solid #00d1d3;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.site-section.section-departments p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.site-section.section-news {
    background: url('../img/news-illu@1x.png') center left no-repeat,
                url('../img/pattern2@1x.png') top left repeat;

}

/* Sekcja partnerzy */
.partners-section .partners-section-title {
    text-align: center;
}


.partners-list .partners-list-item {
    text-align: center;
    margin-bottom: 20px;
}

/* Sekcja footer */
.site-footer {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-footer .brand {
    float: left;
}

.site-footer .authors {
    float: right;
}

